<ion-view view-title='Alert Frequency'>
      <ion-content>
     <ul class="list">

     	<div class="item item-divider text-center">Days</div>

	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox" checked>
	     </label>
	     Monday
	  </li>

	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Tuesday
	  </li>

		<li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Wednesday
	  </li>

	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Thursday
	  </li>
	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Friday
	  </li>

	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Saturday
	  </li>
	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Sunday
	  </li>

	  <div class="item item-divider text-center">Time</div>

	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox" checked>
	     </label>
	     Morning
	  </li><li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox" checked>
	     </label>
	     Afternoon
	  </li>

	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox" checked>
	     </label>
	     Evening
	  </li>
	</ul>
  </ion-content>
</ion-view>