<ion-view view-title='Alert Frequency'>
      <ion-content>
     <ul class="list">

	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox" checked>
	     </label>
	     Daily
	  </li>

	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Weekdays
	  </li>

		<li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Weekends
	  </li>

	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Weeknights
	  </li>
	</ul>
  </ion-content>
</ion-view>