<ion-view view-title="Create Event">
  <ion-header-bar class="bar-calm">
    <h1 class="title">New Event</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <!--<label class="item item-input">
        <input type="text" placeholder="task title" ng-model="newTask.title">
      </label> -->
      <div class="item item-divider text-center">Instructions</div>
      <label>
        <h3># for channel, @ for mention, same 140 characters. #downforit always starts it off.</h3>
        <p>#camping @ #yosemite! Who's #down4it? #5ppl #12pm #y2015m03d01</p>
      </label>

      <div class="item item-divider text-center">Compose Event</div>

      <label class="item item-input">
        <textarea placeholder="Event details" ng-model="newEvent.text"></textarea>
      </label>
    </div>
    <div><ion-google-place placeholder="Enter an address, Apt #, and ZIP Code" ng-model="newEvent.location" /></div>

    <div class="row">
      <div class="col"><button ng-click="tweet()" class="button button-full icon-left ion-checkmark-circled button-balanced">Post Event</button></div>
      <div class="col"><button ng-click="test()" class="button button-full icon-left ion-close-circled button-assertive">Cancel</button></div>
      
      <div class="col"><button ng-click="test()" class="button button-full icon-left ion-checkmark-circled button-balanced">Test</button></div>
    </div>

    <pre>{{error|json}}</pre>
  </ion-content>
</ion-view>
