<ion-view view-title="DownForIt">
  <ion-content class="padding">
  	<img class='row col' src="img/icon-lg.png">
    <h2 class='text-center'>DownForIt</h2>
    <h3 class='text-center'><small>Sign Up with Twitter</small></h3>
    <a class="button button-full icon-left ion-social-twitter-outline button-positive" ng-click="login()">Login with Twitter</a>
    <pre>{{error|json}}</pre>
    <a class="button button-full button-assertive" ng-click="logout()">Logout</a>
    <a class="button button-full button-light" href="#/tab/home">Home</a>
  </ion-content>
</ion-view>
