<ion-view view-title="New Message">
    <ion-content>

        <p ng-repeat="message in messages" title="{{message.created_at | date : 'short' }}">
            <strong>{{message.sender}}:</strong> {{message.text}}
        </p>
        <pre>{{newMessage|json}}</pre>
        <pre>{{chats|json}}</pre>
        <form ng-submit="message()">
            
          <label class="item item-input">
            <input placeholder="Say hi to join event" ng-model="newMessage.text">
          </label>

          <button class="button button-full icon-left ion-checkmark-circled button-balanced">Send Message</button>
        </form>
  	</ion-content>
</ion-view>
