<ion-view view-title='Radius'>
      <ion-content>
     <div class="list">

	  <label class="item item-radio">
	    <input type="radio" name="group" checked>
	    <div class="item-content">
	      Within 2 Miles
	    </div>
	    <i class="radio-icon ion-checkmark"></i>
	  </label>

	  <label class="item item-radio">
	    <input type="radio" name="group">
	    <div class="item-content">
	      Within 5 Miles
	    </div>
	    <i class="radio-icon ion-checkmark"></i>
	  </label>

	  <label class="item item-radio">
	    <input type="radio" name="group">
	    <div class="item-content">
	      Within 10 Miles
	    </div>
	    <i class="radio-icon ion-checkmark"></i>
	  </label>

	  <label class="item item-radio">
	    <input type="radio" name="group">
	    <div class="item-content">
	      Greater Than 10 Miles
	    </div>
	    <i class="radio-icon ion-checkmark"></i>
	  </label>

	</div>
  </ion-content>
</ion-view>