<ion-view view-title='Radius'>
      <ion-content>
     <ul class="list">

	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox" checked>
	     </label>
	     Within 2 Miles
	  </li>

	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Within 5 Miles
	  </li>

		<li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Within 10 Miles
	  </li>

	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Greater than 10 Miles
	  </li>
	</ul>
  </ion-content>
</ion-view>