<ion-view view-title="My Posts">
   <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-plus-empty" ui-sref="tab.create">
    </button>

  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-gear-outline" ng-click="editExiting()">
    </button>
    
  </ion-nav-buttons>


  <ion-content>
  <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <!-- <ion-list>
      <ion-item class="item-avatar" ng-repeat="item in items">
        <img src=" " />
        ##  
        <p></p>
      </ion-item>
    </ion-list>
	-->
    <ion-list>
      <ion-item class="item-avatar" ng-repeat="post in posts" type="item-text-wrap" href="#/tab/posts/{{post.id}}">
        <img ng-src="{{post.face}}">
        <h2>{{post.name}}</h2>

      </ion-item>

      <div class="item item-divider">Past Events</div>

      <ion-item class="item-avatar" ng-repeat="post in posts" type="item-text-wrap" href="#/tab/posts/{{post.id}}">
        <img ng-src="{{post.face}}">
        <h2>{{post.name}}</h2> <br>
        <div class="row">
        
        <div class="col-75 col-offset-10">
          <button class="button button-block button-calm">Relist</button>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>

<script id="create-events.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar-calm">
          <h1 class="title">Add New Task</h1>
        </ion-header-bar>
        <ion-content>
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="task title" ng-model="newTask.title">
            </label>
            <label class="item item-input">
              <textarea placeholder="task description" ng-model="newTask.description"></textarea>
            </label>
          </div>

          <div class="row">
            <div class="col"><button ng-click="saveTask()" class="button button-full icon-left ion-checkmark-circled button-balanced">Save Task</button></div>
            <div class="col"><button ng-click="cancelTask()" class="button button-full icon-left ion-close-circled button-assertive">Cancel</button></div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
