<ion-view view-title="Events Feed">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-plus-empty" ui-sref="tab.create">
    </button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <h1><a href="#/login">Login</a></h1>
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <a ng-click="debug=!debug">Toggle Debug Data</a>
    <div class="list card" ng-repeat="tweet in tweets" ng-click="expanded=!expanded">
      <div class="item item-avatar item-button-right">
        <img ng-src="{{tweet.user.profile_image_url}}">
        <button class="button button-icon icon ion-navicon" ng-click="menu();$event.stopPropagation()"></button>
        <p>
          <strong>{{tweet.user.screen_name}}</strong>
        </p>
        <p>@ {{tweet.created_at | date : 'medium'}}</p>
        <p>
          <small>
            <a ng-repeat-start="tag in tweet.entities.hashtags | tags" href="#/">{{tag}}</a><span ng-repeat-end ng-if="!$last">, </span>
          </small>
        </p>
      </div>
        <h3><i class="icon ion-ios-location-outline padding"></i> {{tweet.text}}</h3>
        

      
      <div class="item item-body" ng-show="debug">
        <pre>{{tweet|json}}</pre>
      </div>
      <div class="item item-image" ng-if="expanded&&tweet.coordinates.coordinates[1]">
        <h3>{{tweet.place.full_name}}</h3>
        <map zoom="16" lat="tweet.coordinates.coordinates[1]" long="tweet.coordinates.coordinates[0]"></map>
      </div>
      <div class="item tabs tabs-secondary">
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox" ng-click="newMessage()"></i>
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
