<ion-view view-title="Account">
  <ion-content>
    <ion-list>


      <div class="item item-divider text-center">Preferences</div>

      <ion-item class="item item-icon-right" href="#/tab/account/location">
      <i class='ion-navigate'></i>
      Location
      <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item item-icon-right" href='#/tab/account/radius'>
      <i class='ion-ios-circle-filled'></i>
      Radius
      <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item item-icon-right" href='#/tab/account/age'>
      <i class='ion-ios-people'></i>
      Age
      <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item item-icon-right" href='#/tab/account/alert-frequency'>
      <i class='ion-ios-bell'></i>
      Alert Frequency
      <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-toggle">
      <i class='ion-ios-search-strong'></i>
        Discover
        <label class="toggle">
          <input type="checkbox" ng-model="settings.discover">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <div class="item item-divider text-center">Alert Notification</div>

      <ion-item class="item-toggle">
        Alert: Direct Message
        <label class="toggle">
          <input type="checkbox" ng-model="settings.directMessage">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <ion-item class="item-toggle">
        Alert New Events
        <label class="toggle">
          <input type="checkbox" ng-model="settings.newEvent">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <div class="item item-divider text-center">Legals</div>

      <ion-item class="item" href='#/tab/account/privacy'>
      Privacy Policy
      </ion-item>

      <ion-item class="item" href='#/tab/account/terms'>
      Terms and Agreements
      </ion-item>

      <div class="item item-divider text-center">Warning</div>

      <button class="button button-full button-assertive" ng-click="deactivate()">
        Deactivate Account with DownForIt
      </button>

    </ion-list>

    <pre>{{response|json}}</pre>
  </ion-content>

</ion-view>
