<ion-view view-title="My Posts">
   <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-plus-empty" ng-click="newItem()">
    </button>

  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-gear-outline" ng-click="editExiting()">
    </button>
    
  </ion-nav-buttons>


  <ion-content>
  <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <!-- <ion-list>
      <ion-item class="item-avatar" ng-repeat="item in items">
        <img src=" " />
        ##  
        <p></p>
      </ion-item>
    </ion-list>
	-->
    <ion-list>
      <ion-item class="item-avatar" ng-repeat="post in posts" type="item-text-wrap" href="#/tab/posts/{{post.id}}">
        <img ng-src="{{post.face}}">
        <h2>{{post.name}}</h2>

      </ion-item>

      <div class="item item-divider">Past Events</div>

      <ion-item class="item-avatar" ng-repeat="post in posts" type="item-text-wrap" href="#/tab/posts/{{post.id}}">
        <img ng-src="{{post.face}}">
        <h2>{{post.name}}</h2> <br>
        <div class="row">
        
        <div class="col-75 col-offset-10">
          <button class="button button-block button-calm">Relist</button>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
