<ion-view>
  <ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
      <button class="button" ng-click="doSomething()">Left Button</button>
    </div>
    <h1 class="title">Title!</h1>
    <div class="buttons">
      <button class="button">Right Button</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list card" ng-repeat="chat in chats">
      <div class="item item-avatar item-button-right">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.created | date : 'short'}}</p>
        <button class="button button-icon icon ion-navicon" ng-click="menu()"></button>
      </div>
      <div class="item item-body">
        <div>
          {{chat.lastText}}
        </div>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Message
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Join
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
